/*https://icons8.com/icon/pack/weather/ultraviolet*/
* {
    margin: 0;
}
body {
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    background-color: white;
}

.ui-plugin-template-context {
	border-color: gainsboro;
}

.ui-plugin-template-prismSelection {
	background-color: aquamarine;
	padding: 4px;
}
#parentPanel {
    display: flex;
    justify-content: flex-start;
}
#currWeather1 {
    padding-top: 10px;
}
#currIcon {
    padding-top: 30px;
}
#currTemp {
    margin-left: 6px;
}
#temp {
    width: auto;
    margin-top: 15%;
    margin-left: 10px;
}
#r_panel {
    margin-left: 300px;
    margin-top: 30px;
}
#tomorrow {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}
hr {
    width: 100%;
    margin: 10px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#weatherUI{
    margin: 10px;
}
#nextHigh{
    line-height:50px;
    margin-left: 10px;
    color: orangered;
}
#nextLow {
    line-height: 50px;
    margin-left: 8px;
    color: cornflowerblue;
}
#low{
    margin-bottom: 20px;
}
#hideAdmin{
    display:none;
}
#delimitier {
    line-height: 50px;
    margin-left: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: cornflowerblue;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: cornflowerblue;
}

input:focus + .slider {
    box-shadow: 0 0 1px cornflowerblue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(35px);
}

/*------ ADDED CSS ---------*/
.slider:after {
    content: 'C';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    content: 'F';
}